
.Dashboard-dash {
    width: 800px;
    display: flex;
    /* display: inline-flex; */
    background: rgb(194, 194, 194);
    flex-direction: row;
    justify-content: space-between;
}

.house-container {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    align-items: center;
    /* justify-items: center; */
}